.heading {
   text-align: center;
   color: #00796b;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.picture {
    max-width: 100%;
    height: auto;
    margin: 1em 1em;
    margin-top: 0;
}

.container p {
    margin: 0 4em;
    text-align: justify;
    margin-bottom: 3em;
}

.container summary {
    margin: 2em 4em;    
}

.button {
    background-color: #00796B;
    color: #80CBC4;
    text-decoration: none;
    padding: 12px 12px;
    border-radius: 8px;
    display: block;
    width: 6rem;
    margin: 1em auto;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 30em) {
    .heading {
        text-align: center;
     }
     
     .container {
         display: grid;
         grid-template-columns: 1fr;
         place-items: center;
     }
     
     .container p {
         margin: 0 4em;
         text-align: justify;
         margin-bottom: 3em;
     }
     
     .container summary {
         margin: 2em 4em;    
     }
     
     .button {
         background-color: #00796B;
         color: #80CBC4;
         text-decoration: none;
         padding: 12px 12px;
         border-radius: 8px;
         display: block;
         width: 6rem;
         margin: 1em auto;
         font-weight: bold;
         text-align: center;
     }
}

@media (min-width:48em) {
    .heading {
        text-align: center;
     }
     
     .container {
         display: grid;
         grid-template-columns: 1fr;
         place-items: center;
     }
     
     .container p {
         margin: 0 10em;
         text-align: justify;
         margin-bottom: 3em;
     }
     
     .container summary {
         margin: 2em 4em;    
     }
     
     .button {
         background-color: #00796B;
         color: #80CBC4;
         text-decoration: none;
         padding: 12px 12px;
         border-radius: 8px;
         display: block;
         width: 6rem;
         margin: 1em auto;
         font-weight: bold;
         text-align: center;
     }
}